.person {
    width: 88%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: left;

    img.character-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h1.character-name {
        position: relative;
        font-weight: 400;

        &:after {
            content: "";
            border-bottom: 3px solid #1bb398;
            position: absolute;
            width: 100%;
            bottom: -6px;
            left: 0;
        }
    }

    p.character-species {
        font-weight: 600;
        color: #1bb398;
    }

    div.titles {
        p {
            margin: 20px 0;
        }

        li.character-titles {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            padding-left: 20px;

            span {
                padding-right: 4px;

                &:after {
                    display: inline;
                    content: "-";
                    padding-left: 4px;
                }
            }
        }
    }
}